* {
  position: relative;
  box-sizing: border-box;
}

body {
  max-width: 935px;
  margin: auto;
}

a:hover {
  color: #999;
}

.screen {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none !important;
}

.title {
  padding-right: 54px;
  font-size: 1.7rem;
  border-bottom: 0.1px solid #c1c1c1;
}

.bold-font {
  font-weight: 600;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.username {
  display: inline;
  text-transform: lowercase;
  color: black;
  align-self: center;
  margin-right: 4px;
}

.camera-btn {
  top: 8px;
  background: url("icons/camera.png") no-repeat center/100%;
  height: 24px;
  width: 24px;
}

.title-text {
  background-image: url(./icons/ivangram.png);
  background-size: 110px 30px;
  background-position: 50%;
  background-repeat: no-repeat;
}

.posts {
  position: inherit;
  overflow: auto;
}

.post {
  margin-bottom: 15px;
}

.post-header {
  padding: 10px 15px;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.post-header .username {
  margin-left: 10px;
}

.delete-btn {
  width: 24px;
  height: 24px;
  margin: 3px 0px;
}

.post-photo {
  position: relative;
  width: 100%;
}

.post-photo img {
  width: 100%;
  max-height: 540px;
}

@media (min-height: 768px) {
  .post-photo img {
    max-height: 700px;
  }
}

@media (min-height: 992px) {
  .post-photo img {
    max-height: 850px;
  }
}

@media (min-height: 1200px) {
  .post-photo img {
    max-height: 1100px;
  }
}

.post-footer {
  padding: 0px 16px;
}

.post-btn {
  padding: .65rem 0;
  width: 2.5rem;
  border: 0px;
  background-color: transparent;
}

.post-btn:selection {
  border: 0px;
}

.like-btn {
  background: url("icons/like.png") no-repeat center/100%;
  height: 24px;
  width: 24px;
}

.liked {
  background-image: url("./icons/liked.png");
}

.comment-btn {
  background: url("icons/comment.png") no-repeat center/100%;
  height: 24px;
  width: 24px;
  background-size: 48px 48px;
}

.likes-count {
  margin-bottom: 8px;
}

.comments {
  margin-bottom: 4px;
}

.more-comments {
  display: flex;
  margin-bottom: 5px;
  color: #999;
  font-weight: 500;
  font-size: 14px;
}

.comment {
  display: block;
  padding: 2px 0px;
  line-height: 18px;
}

.comment-text {
  display: inline;
  font-size: 14px;
  font-weight: 400;
  word-break: break-word;
}

.post-time {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: .2px;
  color: #999;
  margin-bottom: 4px;
}